@model BaseballCalcASP.Models.DeleteAppUserViewModel

@{
    ViewData["Title"] = Localizer["Delete"];
}

<h1>@Localizer["Delete"]</h1>

<h3>@Localizer["ConfirmDelete"]</h3>
<div>
    <h4>@Localizer["User"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["UserName"]
        </dt>
        <dd class="col-sm-10">
            @Model.UserName
        </dd>
        <dt class="col-sm-2">
            @Localizer["Email"]
        </dt>
        <dd class="col-sm-10">
            @Model.EmailAddress
        </dd>
    </dl>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value=@Localizer["Delete"] class="btn btn-danger" /> |
        <a asp-action="Index">@Localizer["BackToList"]</a>
    </form>
</div>
