@model IEnumerable<BaseballModelsLib.Models.Team>

@{
    ViewData["Title"] = "Index";
}

<style>
    main.pb-3 {
        border: 1px solid #dee2e6;
        border-radius: 15px;
        padding: 5px !important;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 5px;
    }

    input {
        all: unset;
        width: 100%;
        padding: 3px 10px 5px 10px;
        border-radius: 15px;
        box-sizing: border-box;
        border: 1px solid gray;
    }

    table.table {
        width: 100%;
        margin-bottom: unset;
    }

    main > div {
        border: 1px solid gray;
        border-radius: 15px;
    }

    .table > :not(caption) > * > * {
        border-bottom: unset;
    }

    tbody tr {
        border-bottom: 1px solid #dee2e6;
    }

        tbody tr:last-of-type {
            border-bottom: unset;
        }
</style>


    @if (User.IsInRole("admin"))
    {
        <p>
            <a asp-action="Create">@Localizer["Create"]</a>
        </p>
    }

<input id="q" name="q" type="search" placeholder="Search" onkeyup="updatetable()" />
<div>
    <table id="qtable" class="table">
        <thead>
            <tr>
                <th>
                    @Localizer["Name"]
                </th>
                <th>
                    @Localizer["TotalPlayers"]
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPlayers)
                </td>
                <td>
                        <a asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a>
                    @if (User.IsInRole("admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">| @Localizer["Edit"]</a>
                        <a asp-action="Delete" asp-route-id="@item.Id"> | @Localizer["Delete"]</a>
                        <a asp-action="AddPlayer" asp-route-id="@item.Id">@Localizer["Add"]</a>
                    }
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>

<script>
    function updatetable() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("q");
        filter = input.value;
        table = document.getElementById("qtable");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            tr[i].style.display = "";
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.innerText.split(' ')[0];
                if (txtValue.indexOf(filter) > -1 && txtValue.startsWith(filter)) {
                    tr[i].style.display = "";
                } else {
                    console.log(txtValue.indexOf(filter) + " ; " + txtValue + " ; " + filter + " ; " + txtValue.startsWith(filter))
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>